*{
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
    display: flex;
    flex: 1;
    max-width: 100%;
    width: 100%;
    height: 80px;
    background-color: whitesmoke;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.left, .right{
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.left-content, .right-content{
    border: 1px solid #CCC;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
}

.left-content{
    border: 0;
}


.container{
    display: flex;
    width: fit-content;
}

.content{
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.login{
    max-width: 80%;
    margin: 0 auto;
}

.login form input{
    width: 100%;
}

.login form button{
    width: 100%;
    background-color: #0095f6;
    color: white;
    font-weight: 700;
    height: 30px;
    margin: 1rem 0;
    border: none;
    border-radius: 2px;
}

.image-left img{
    height: 70vh;
}

.instagram-logo{
    padding: 2rem 0;
}

.instagram-logo img{
    width: 206px;
    height: 58px;
}

.download{
    width: 100%;
}

.download div{
    padding: 0.5rem;
}

.download img{
    width: 10rem;
    height: 3rem;
    padding: 0.5rem;
    opacity: 80%;
}

.download img:hover{
    opacity: 100%;
}

input[type=text]{
    background-color: rgb(248, 248, 248);
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    line-height: 42px;
    margin: 0.2rem 0;
    outline: none;
    line-height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
input[type=text]:focus{
    border: 1px solid #c2c2c2;
}

button{
    cursor: pointer;
}

.or{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.or-text{
    text-transform: uppercase;
    margin: 0 20px;
}

.line{
    flex: 1;
    height: 1px;
    background-color: #e2e2e2;
}

.facebook a{
    color: #385185;
    text-decoration: none;
    font-weight: 600;
}

.password a{
    color: #385185;
    font-size: 14px;
    text-decoration: none;
}

.signup a{
    color: #0095f6;
    text-decoration: none;
    font-weight: 600;
}

.center{
    width: fit-content;
    margin: 0 auto;
}

.padding-default{
    padding: 0.5rem;
}

.foot{
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-top: 3rem;
}
.foot a{
    font-size: 12px;
    text-decoration: none;
    color: #999;
    cursor: pointer;
}
.foot-item{
    padding-left: 1rem;
}

.foot-2{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 1rem 0 5rem 0;
    color: #999;
}
.foot-2 div{
    font-size: 12px;
    padding: 0 0.8rem;
}
.foot-2 select{
    border: none;
    color: #999;
    background-color: white;
}
.foot-2 label a{
    color: #0095f6;
    text-decoration: none;
    font-weight: 600;
}

.title-blue{
    color: #0095f6;
    text-decoration: none;
    font-weight: 600;
}

.hidden{
    display: none;
}

/* mediascreen */
@media screen and (max-width: 1024px) {
    .left{
        display: none;
    }

    .foot{
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 0;
    }
}